body {
  font: 12px/16px Helvetica, Arial, sans-serif;
  width: 40em;
  margin: 2.5em 3em;
  position: relative;
  background-color: #ffffff;
  color: #000000;
}


h1 {
  width: 141px;
  height: 64px;
  margin: 0;
  padding: 0 0 8px 0;
}

h2 {
  font: 24px/16px Helvetica, Arial, sans-serif;
  margin: 0 1px 0 -1px;
  letter-spacing: -1.5px;
  display: inline;
  position: relative;
}

h3 {
  font: 12px/16px Helvetica, Arial, sans-serif;
  display: inline;
  font-weight: bold;
}


h2 a, address a {
  color: black;
  text-decoration: none;
}

h2 abbr {
  border: none;
  text-decoration: none;
}

.entry-content a, .nav a {
  text-decoration: none;
  color: #4E9A06;
  background-color: #E8FFD0;
  padding: 0px 1px;
}

.entry-content a:hover, .nav a:hover, .all:hover, address a:hover {
  text-decoration: underline;
}

.entry-content a:visited {
  color: #396D08;
}


.hentry {
  margin-top: 20px;
}

p, .quick {
  margin: 8px 0 0 0;
  padding: 0;
}

.entry-content {
  display: inline;
}

.entry-content p:first-child,
.entry-content .quick:first-child,
h3 + p {
  display: inline;
}

.entry-content > h3 {
  margin-left: 1em;
}

.entry-content > h3:first-child {
  margin-left: 0;
}

.entry-content > p:first-child + .quick,
.entry-content > p:first-child + p {
  margin-top: 8px;
}


address {
  text-align: right;
  margin: 3em 0;
  font-size: 11px;
}


blockquote {
  font-style: italic;
  margin: 8px 0 8px 1em;
}

blockquote .source {
  display: block;
  margin-left: 2em;
  font-style: normal;
  text-transform: uppercase;
  font-size: 11px;
}

img {
  border: none;
}

pre {
  margin: 4px 0 4px 1em;
  font-size: 11px;
}


img.inline-math {
  position: relative;
  top: 5px;
  margin-top: -100px;
}

.math {
  text-align: center;
  margin: 0.5em 0em;
}


.thumbs a {
  background-color: #ffffff;
  outline: none;
}

.thumb img {
  width: 220px;
  margin: 8px 8px 0 0;
}

.thumb img.full {
  width: 454px;
  margin: 8px 0 0 0;
}


.nav {
  font-size: 12px;
  display: block;
}

.top.nav {
  position: absolute;
  right: 0;
  top: 35px;
}

.bot.nav {
  text-align: right;
  margin: 2em 0 -1.5em 0;
}

.nav a {
  margin-left: 0.5em;
  padding: 2px 4px;
}
